<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container pt-5">
        <h1 class="text-center"><b>C R U D</b></h1>
        <a class="btn btn-success float-end mb-3" routerLink="add">Add</a>
        <table class="table text-center table-bordered table-hover ">
            <thead class="table-success">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tables; let i=index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td class="d-grid gap-2 d-md-flex justify-content-center">
                      <button class="btn btn-primary" [routerLink]="['/update', item.id]" >Update</button>
                    <button class="btn btn-danger" (click)="deleteBtn(item.id)">Delete</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>
